.page {
  background: #ffffff;
  padding: 0 15px;
}

.page-content {
  max-inline-size: 960px;
  margin: auto;
}

.header {
  padding: 24px;
}

.logo {
  font-size: 17px;
}

.divider {
  margin: 0;
  block-size: 1px;
  background: #dee2e6;
}

.nav {
  display: block;
}

.nav_link {
  color: #343a40;
  font-size: 16px;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.nav_vertical > .nav_link {
  display: block;
}

.nav_inline > .nav_link:not(:last-child) {
  margin-inline-end: 24px;
}

.nav_vertical > .nav_link:not(:last-child) {
  margin-block-end: 12px;
}

.header_nav_right {
  margin-inline-start: auto;
  inline-size: fit-content;
}

.page_block:not(:last-child) {
  margin-block-end: 80px;
}

.footer {
  padding: 24px 0;
}

.footer_copyright {
  font-size: 12.8px;
  color: #6c757d;
  display: block;
  margin-block-start: 12px;
}

.footer_title {
  color: #212529;
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-block-end: 12px;
}

.hero_title {
  color: #fff;
  font-size: 56px;
  font-weight: 500;
  margin-block-end: 12px;
}

.hero_text {
  color: #fff;
  font-size: 20px;
  max-width: 800px;
  line-height: 150%; /* 30px */
}

.hero {
  border-radius: 24px;
  background: #343a40;
  padding: 80px;
}

.button {
  text-decoration: none;
  color: #fff;

  max-width: 248px;
  width: 100%;

  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;

  border-radius: 4px;
  background: #007bff;

  text-align: center;
}

.button:hover {
  background: #3195ff;
}

.preview {
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #dee2e6;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.preview_header > span:not(:last-of-type) {
  margin-right: 12px;
}

.preview_date {
  color: #6c757d;
  font-size: 16px;
}

.preview_category {
  font-weight: 700;
  font-size: 16px;
}

.preview > *:not(:last-child) {
  margin-bottom: 12px;
}

.preview_title {
  display: block;
  color: #343a40;
  font-size: 28px;
  font-weight: 500;
}

.preview_description {
  color: #212529;
  font-size: 16px;
}

.preview_category_1 {
  color: #007bff;
}

.preview_category_2 {
  color: #198754;
}

.preview_category_3 {
  color: #f00;
}

.preview_category_4 {
  color: #ff7a00;
}

.list_title {
  color: #212529;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.list_header {
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 40px;
}

.category_button {
  color: #6c757d;
  text-align: center;
  font-size: 16px;
  padding: 10px 16px;

  border-radius: 40px;
  border: 1px solid #6c757d;
  line-height: 100%;
}

.category_button:hover {
  background: #6c757d17;
}

.list_aside {
  margin-left: 40px;
}

.list > *:not(:last-child) {
  margin-bottom: 40px;
}

.post {
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;
}

.post > *:not(:last-child) {
  margin-bottom: 12px;
}

.post_title {
  display: block;
  font-weight: 500;
  font-size: 27px;
  color: #212529;
}

.post_info {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.post_autor {
  color: #0050ff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.post_description {
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

.list_aside > *:not(:last-child) {
  margin-bottom: 24px;
}

.about {
  background: #f8f9fa;
  padding: 24px;
}

.about_title {
  color: #212529;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.about_text {
  color: #212529;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%; /* 21px */
}

.link_list {
  padding: 24px;
}

.link_title {
  display: block;
  color: #212529;
  font-size: 24px;
  font-weight: 500;
}

.link_list > *:not(:last-child) {
  margin-bottom: 12px;
}

.link_item {
  display: block;
  color: #007bff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  width: fit-content;
}

.link_item:hower {
  text-decoration: underline;
}
