{{#with data}}
<div class="updates_list_item">
    <img src="https://picsum.photos/32/32" alt="32x32" class="item_img">
    <div class="list_item">
        <strong>{{nickname}}</strong>
        <p>{{description}}</p>
    </div>
</div>
{{/with}}